@import 'tailwindcss';

@theme {
  --color-lightSkyBlue: #d1e8f8;
  --color-orange: #f5b501;
}

:root {
  font-family: 'Baloo 2 Variable', system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #1f1f1f;
  background-color: #d1e8f8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fredoka {
  /* font-size: 40px; */
  font-family: 'Fredoka One';
  /* font-weight: 700; */
  /* color: #f5b501;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black; */
}

.reborde,
.reborde-sm {
  position: relative;
  z-index: 0;
}
.reborde::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color: black;
  -webkit-text-stroke: 10px black;
}
.reborde-sm::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color: black;
  -webkit-text-stroke: 4px black;
}

a {
}
a:hover {
}

body {
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#gradient section {
  max-width: 950px;
  padding-top: 110px;
  padding-bottom: 110px;
}

.cardsGrid {
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: minmax(220px, auto);
  grid-template-columns: repeat(4, 1fr);
}
