@import 'tailwindcss';

@theme {
  --color-lightSkyBlue: #d1e8f8;
  --color-orange: #f5b501;
}

:root {
  font-family: 'Baloo 2 Variable', system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #1f1f1f;
  background-color: #d1e8f8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fredoka {
  /* font-size: 40px; */
  font-family: 'Fredoka One';
  /* font-weight: 700; */
  /* color: #f5b501;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black; */
}

.reborde,
.reborde-sm {
  position: relative;
  z-index: 0;
}
.reborde::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color: black;
  -webkit-text-stroke: 10px black;
}
.reborde-sm::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color: black;
  -webkit-text-stroke: 4px black;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

section {
  max-width: 950px;
  padding-top: 110px;
  padding-bottom: 110px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (max-width: 450px) {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.cardsGrid {
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: minmax(220px, auto);
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 767px) {
  p {
    font-size: 14px;
  }
  .cardsGrid {
    grid-auto-rows: minmax(180px, auto);
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 700px) {
}

@media screen and (max-width: 639px) {
  .reborde::before {
    -webkit-text-stroke: 6px black;
  }
}

@media screen and (max-width: 579px) {
  .cardsGrid {
    gap: 6px;
    grid-auto-rows: minmax(auto, auto);
    grid-template-columns: repeat(3, 2fr);
  }
}

#hero .reborde-sm::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color: #4ba9e7;
  -webkit-text-stroke: 10px #4ba9e7;
}

.cardsGrid {
  @media screen and (max-width: 301px) {
    grid-auto-rows: minmax(110px, auto);
    grid-template-columns: repeat(2, 2fr);
  }
}
